In [1]:
import pandas as pd

In [19]:
df = pd.read_csv ('Downloads/customer_demographics_contaminated.csv')

In [21]:
df

,CustomerID,Age,Gender,Location,IncomeLevel,SignupDate
0,9207fa75-5758-48d1-94ad-19c041e0520f,51.0,Female,Jensenberg,Low,2022-11-17
1,5fb09cd8-a473-46f7-80bd-6e49cf509078,NaN,Female,Castilloport,High,2020-07-21
2,c139496e-cc89-498a-bd90-1fb4627b6cff,37.0,Male,Lake Jennifertown,NaN,2021-01-01
3,50118139-7264-428f-81cc-a25fddc5d6dd,44.0,Male,Port Carl,Medium,2024-06-10
4,7d1f2bbc-8d16-4fbc-9b37-ece3324e8ed4,50.0,Female,Jessebury,High,2023-08-24
...,...,...,...,...,...,...
3195,bbf7c36f-3745-4d3a-9e33-f927c2755f65,45.0,Female,Roberttown,Medium,2023-02-17
3196,0ef84cc6-0b4c-4c56-bdaa-d6b725ccc08e,40.0,Male,Lisaside,Medium,2022-07-23
3197,0ede97d1-bb46-452d-893e-b63f37da4fa8,NaN,Female,North Christinaport,High,2021-10-16
3198,43ec68f5-4305-4b40-8ced-a187d00bb3f5,26.0,Female,Carrilloport,Low,2022-09-26
3199,077936e6-6556-434f-9494-e5d671b6e71c,65.0,Female,Bryantside,High,2019-11-09

In [23]:
total_missing = df.isnull().sum().sum()
print(f'Total missing values in the dataset: {total_missing}')

Total missing values in the dataset: 594

In [25]:
missing_values = df.isnull().sum()
print(missing_values)

CustomerID       0
Age            291
Gender           0
Location         0
IncomeLevel    303
SignupDate       0
dtype: int64

In [27]:
df = df.dropna(subset=['Age'])

In [29]:
missing_values = df.isnull().sum()
print(missing_values)

CustomerID       0
Age              0
Gender           0
Location         0
IncomeLevel    271
SignupDate       0
dtype: int64

In [31]:
df = df.dropna(subset=['IncomeLevel'])

In [33]:
missing_values = df.isnull().sum()
print(missing_values)

CustomerID     0
Age            0
Gender         0
Location       0
IncomeLevel    0
SignupDate     0
dtype: int64

In [35]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 145

In [37]:
df_cleaned = df.drop_duplicates()

In [39]:
print("\nDataFrame after removing duplicates:")
print(df_cleaned)

DataFrame after removing duplicates:
                                CustomerID      Age  Gender         Location  \
0     9207fa75-5758-48d1-94ad-19c041e0520f     51.0  Female       Jensenberg
3     50118139-7264-428f-81cc-a25fddc5d6dd     44.0    Male        Port Carl
4     7d1f2bbc-8d16-4fbc-9b37-ece3324e8ed4     50.0  Female        Jessebury
5     2de49c7c-32ae-4ba8-b058-622a090d7094     53.0  Female       Emilyville
10    c96a5ee9-f1a6-416a-adc6-1c8b128c7399      150    Male       Hansontown
...                                    ...      ...     ...              ...
3165  48313b18-ccdb-4946-b958-1ebfc92dcc2a     59.0    Male     South Andrea
3178  bbe76a26-234f-4a70-b71f-fa9b183f6353  Unknown    Male      Gregoryfurt
3183  7eb7f7df-9b0a-416a-829e-bcf4d8bd57dc     55.0    Male  New Anthonyland
3186  ce5cf079-859b-43fa-9609-c6bb7e12c6b7     41.0  Female      Adrianhaven
3195  bbf7c36f-3745-4d3a-9e33-f927c2755f65     45.0  Female       Roberttown

     IncomeLevel  SignupDate
0            Low  2022-11-17
3         Medium  2024-06-10
4           High  2023-08-24
5            Low  2022-02-13
10          High  2020-09-17
...          ...         ...
3165        High  2020-02-26
3178        High  2020-06-23
3183        High  2022-07-23
3186         Low  2024-01-10
3195      Medium  2023-02-17

[2493 rows x 6 columns]

In [41]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 145

In [43]:
df_cleaned = df.drop_duplicates()

In [45]:
df_cleaned = df.drop_duplicates()

In [47]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 145

In [49]:
df_cleaned = df.drop_duplicates()

In [55]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 145

In [57]:
df_cleaned = df.drop_duplicates()

In [59]:
print(f'Number of rows after removing duplicates: {df_cleaned.shape[0]}')

Number of rows after removing duplicates: 2493

In [61]:
print(f'Total number of duplicate rows: {df.duplicated().sum()}')

Total number of duplicate rows: 145

In [63]:
df = pd.DataFrame(data)

NameError: name 'data' is not defined

In [65]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 145

In [67]:
duplicate_rows = df[df.duplicated(keep=False)]
print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
                                CustomerID   Age  Gender           Location  \
18    8de7560f-370d-4cfd-8135-20a3de237264  31.0  Female        Colemanstad
54    c9f831b4-43cf-4ed9-9b47-09542e239c70  53.0  Female      East Ryanbury
56    348c5ab5-992d-4780-ba71-d1a5e3818191  46.0  Female      New Jesseside
106   74335a51-6283-4262-b8a5-c72d988f3007  56.0  Female  East Zacharyville
114   409d7d69-e0b1-4493-8b23-100fb9518966  64.0  Female     Bradleyborough
...                                    ...   ...     ...                ...
3193  99d38969-3c5f-4387-bb49-1ba429f7acae  31.0    Male  New Walterborough
3194  40c2909d-983b-4c95-a737-2022acba98ee  28.0    Male      Josephborough
3196  0ef84cc6-0b4c-4c56-bdaa-d6b725ccc08e  40.0    Male           Lisaside
3198  43ec68f5-4305-4b40-8ced-a187d00bb3f5  26.0  Female       Carrilloport
3199  077936e6-6556-434f-9494-e5d671b6e71c  65.0  Female         Bryantside

     IncomeLevel  SignupDate
18           Low  2020-12-01
54        Medium  2023-10-12
56           Low  2023-09-24
106          Low  2019-09-17
114          Low  2023-03-11
...          ...         ...
3193        High  2020-06-15
3194        High  2020-02-14
3196      Medium  2022-07-23
3198         Low  2022-09-26
3199        High  2019-11-09

[290 rows x 6 columns]

In [69]:
df.drop_duplicates(inplace=True)

In [71]:
duplicate_count_after = df_cleaned.duplicated().sum()
print(f'Total number of duplicate rows after cleaning: {duplicate_count_after}')

Total number of duplicate rows after cleaning: 0

In [73]:
df_cleaned.reset_index(drop=True, inplace=True)

In [75]:
print("Cleaned DataFrame:")
print(df_cleaned)

Cleaned DataFrame:
                                CustomerID      Age  Gender         Location  \
0     9207fa75-5758-48d1-94ad-19c041e0520f     51.0  Female       Jensenberg
1     50118139-7264-428f-81cc-a25fddc5d6dd     44.0    Male        Port Carl
2     7d1f2bbc-8d16-4fbc-9b37-ece3324e8ed4     50.0  Female        Jessebury
3     2de49c7c-32ae-4ba8-b058-622a090d7094     53.0  Female       Emilyville
4     c96a5ee9-f1a6-416a-adc6-1c8b128c7399      150    Male       Hansontown
...                                    ...      ...     ...              ...
2488  48313b18-ccdb-4946-b958-1ebfc92dcc2a     59.0    Male     South Andrea
2489  bbe76a26-234f-4a70-b71f-fa9b183f6353  Unknown    Male      Gregoryfurt
2490  7eb7f7df-9b0a-416a-829e-bcf4d8bd57dc     55.0    Male  New Anthonyland
2491  ce5cf079-859b-43fa-9609-c6bb7e12c6b7     41.0  Female      Adrianhaven
2492  bbf7c36f-3745-4d3a-9e33-f927c2755f65     45.0  Female       Roberttown

     IncomeLevel  SignupDate
0            Low  2022-11-17
1         Medium  2024-06-10
2           High  2023-08-24
3            Low  2022-02-13
4           High  2020-09-17
...          ...         ...
2488        High  2020-02-26
2489        High  2020-06-23
2490        High  2022-07-23
2491         Low  2024-01-10
2492      Medium  2023-02-17

[2493 rows x 6 columns]

In [77]:
df_cleaned.to_csv('cleaned_demographic_data.csv', index=False)