In [1]:
import pandas as pd

In [17]:
df = pd.read_csv ('customer_transactions_contaminated.csv')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       3200 non-null   object
 1   TransactionID    3200 non-null   object
 2   TransactionDate  3200 non-null   object
 3   Amount           2896 non-null   object
 4   ProductCategory  2901 non-null   object
 5   PaymentMethod    3200 non-null   object
dtypes: object(6)
memory usage: 150.1+ KB

In [29]:
total_missing = df.isnull().sum().sum()
print(f'Total missing values in the dataset: {total_missing}')

Total missing values in the dataset: 603

In [31]:
df_cleaned = df.dropna(axis=1)

In [33]:
total_missing = df.isnull().sum().sum()
print(f'Total missing values in the dataset: {total_missing}')

Total missing values in the dataset: 603

In [35]:
df

,CustomerID,TransactionID,TransactionDate,Amount,ProductCategory,PaymentMethod
0,60567026-f719-4cd6-849e-137e86d8938f,5ff75116-0a50-4d04-80fb-31e5ccbb0769,2024-05-15,117.64,Clothing,PayPal
1,4090ba85-b111-4f75-a792-c777965f5255,2c39b9fe-ff57-4d39-9321-9f5cdf187aa1,2023-04-26,466.14,Health & Beauty,Bank Transfer
2,9223891b-73ff-4d5c-b8ae-13ece82ee28b,f79588dd-3db9-4ffa-97f8-7de0e64259f1,2022-09-23,563.99,Clothing,Debit Card
3,9243eebc-938f-480c-8564-16d503d250de,401c0fc9-60df-4455-ad78-67c132f9897d,2024-04-15,254.44,Automotive,PayPal
4,6e3e8eb8-bc0f-4ffe-9f74-5d5efec9502f,2034aebc-8280-4254-a667-92bcd1c2be4f,2024-06-03,590.52,Home & Garden,Bank Transfer
...,...,...,...,...,...,...
3195,59f8afe5-173b-4e52-b641-f98183f1a891,3121df10-58e5-4ed4-a05c-b1f12df6bcc7,2023-01-18,892.44,Home & Garden,Bank Transfer
3196,16d0b561-279d-4da9-9aa8-8c5906dff79a,dff4f636-2c55-4237-8c55-efb15b05949b,2024-02-13,431.64,Health & Beauty,Credit Card
3197,34e3f558-622e-4d6b-8d5d-07ab632e1b95,db0a4640-ea96-4fcd-989b-b71ba767529c,2022-12-26,NaN,Home & Garden,PayPal
3198,d83178cf-653d-435c-a7e8-880361dec6e7,89a1c0bc-4d49-4913-bb0f-26bd56b46a34,2022-09-26,343.46,Health & Beauty,Debit Card
3199,d64b0c8d-1831-4b29-baa2-08c4d5c3a0f9,6c47f481-3a5c-49bc-ab1d-2b198394b2e8,2023-06-20,NaN,Electronics,Debit Card

In [37]:
df_cleaned = df.dropna()

In [39]:
total_missing = df.isnull().sum().sum()
print(f'Total missing values in the dataset: {total_missing}')

Total missing values in the dataset: 603

In [41]:
print(missing_values)

NameError: name 'missing_values' is not defined

In [43]:
missing_values = df.isnull().sum()
print(missing_values)

CustomerID           0
TransactionID        0
TransactionDate      0
Amount             304
ProductCategory    299
PaymentMethod        0
dtype: int64

In [45]:
df = df.dropna(subset=['Amount'])

In [47]:
missing_values = df.isnull().sum()
print(missing_values)

CustomerID           0
TransactionID        0
TransactionDate      0
Amount               0
ProductCategory    272
PaymentMethod        0
dtype: int64

In [51]:
df = df.dropna(subset=['ProductCategory'])

In [53]:
missing_values = df.isnull().sum()
print(missing_values)

CustomerID         0
TransactionID      0
TransactionDate    0
Amount             0
ProductCategory    0
PaymentMethod      0
dtype: int64

In [55]:
df_cleaned = df.drop_duplicates()

In [61]:
duplicates = df.duplicated()
print(duplicates)

0       False
1       False
2       False
3       False
4       False
        ...
3189     True
3191     True
3195     True
3196     True
3198     True
Length: 2624, dtype: bool

In [63]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 148

In [65]:
duplicate_rows = df[df.duplicated()]

print(duplicate_rows)

                                CustomerID  \
3000  cdaabaa5-aae1-4d4d-8491-994aceea9621
3001  9d8bf85a-a329-4a0b-a46a-4cc840629255
3002  cc5da89b-c295-41c3-b27d-c759cca78ba8
3003  7982720f-fa58-47f3-b9cd-bdfd800d14e3
3004  551a4700-bea6-4596-b371-48c0ee1b5bf0
...                                    ...
3189  79a5eedf-99cd-4151-9007-8d0904daf592
3191  b69f9ff9-837b-4582-8187-1f2f28c6e2d2
3195  59f8afe5-173b-4e52-b641-f98183f1a891
3196  16d0b561-279d-4da9-9aa8-8c5906dff79a
3198  d83178cf-653d-435c-a7e8-880361dec6e7

                             TransactionID TransactionDate  Amount  \
3000  e7149aea-3116-4232-9607-ffec14018dad      2023-03-21  482.62
3001  2fbba183-f355-4cfd-9903-5bf50cdaa707      2023-11-24    49.0
3002  85cc2094-90ad-460d-bffc-9eb5ceba9712      2023-09-19  433.61
3003  893674b7-bb73-44d1-a93b-5095d5f4919d      2024-04-30   22.89
3004  c5dcb16e-b1d0-46fc-a45d-b29b4cda3958      2022-11-22  663.12
...                                    ...             ...     ...
3189  ed9e281d-c0df-44a3-b18f-6aa4f2e2063d      2023-03-07  482.63
3191  5df1d055-556f-4ffd-b50a-c1465fb4a0c1      2022-11-02  324.11
3195  3121df10-58e5-4ed4-a05c-b1f12df6bcc7      2023-01-18  892.44
3196  dff4f636-2c55-4237-8c55-efb15b05949b      2024-02-13  431.64
3198  89a1c0bc-4d49-4913-bb0f-26bd56b46a34      2022-09-26  343.46

      ProductCategory  PaymentMethod
3000    Home & Garden    Credit Card
3001    Home & Garden     Debit Card
3002      Electronics  Bank Transfer
3003  Health & Beauty    Credit Card
3004       Automotive  Bank Transfer
...               ...            ...
3189  Health & Beauty    Credit Card
3191      Electronics         PayPal
3195    Home & Garden  Bank Transfer
3196  Health & Beauty    Credit Card
3198  Health & Beauty     Debit Card

[148 rows x 6 columns]

In [67]:
occurrence_count = df.groupby(list(df.columns)).size()

print(occurrence_count)

CustomerID                            TransactionID                         TransactionDate  Amount  ProductCategory  PaymentMethod
0009fdd2-ae63-45ca-8d5b-d0ea98381f7b  86cd577d-4ffd-498d-94ce-e68e6cca8865  2023-10-26       389.69  Home & Garden    Bank Transfer    1
00115fc0-f155-42cd-ba68-58aab67b3360  dbb294f9-9197-48a3-ac56-1b5b13c71388  2023-02-27       153.89  Electronics      Credit Card      2
0047d8ce-a5bb-4db7-860f-6ff66e1cd060  8865b5c2-7091-4c67-b872-9f44e8a09913  2023-10-18       259.47  Clothing         Credit Card      1
0064a8b2-71d3-41c1-a46a-6eea56fdff91  445b7dfb-f859-4d98-a53e-cc147f6cfeec  2022-09-25       933.2   Home & Garden    PayPal           1
                                      7df9fe14-f574-4b83-aed4-ae7a7fd742f0  2023-09-06       297.14  Electronics      Bank Transfer    1
                                                                                                                                      ..
ff3f41ad-9dba-4ce4-97fb-022a275ed0d8  2357973d-ea9e-4599-97fc-9348acb46366  2024-03-27       503.47  Clothing         Credit Card      1
ff4af2f8-bdeb-4428-bb48-5cfe24faf272  6e1382dc-ed35-48ae-936a-567a496c2b9b  2024-02-17       583.17  Health & Beauty  PayPal           1
ff6d25c2-baeb-46ab-8ce4-4c39bde83c5a  f6485507-99bb-4bd0-b762-9a95f4c35f17  2023-07-21       914.98  Automotive       Credit Card      1
ffe9a403-ac25-4aad-a809-ac9687ff3fcd  7081c872-a56f-40ee-b788-412864e49f85  2022-10-31       947.93  Clothing         Bank Transfer    1
                                      c59819cc-cf92-4929-ad22-ef3435187be9  2023-04-01       -100    Automotive       Bank Transfer    1
Length: 2476, dtype: int64

In [69]:
df_cleaned = df.drop_duplicates()

In [71]:
df_cleaned = df.drop_duplicates(keep='last')

In [73]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 148

In [75]:
df_cleaned = df.drop_duplicates()

In [77]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 148

In [79]:
df_cleaned = df.drop_duplicates()

In [81]:
print(df_cleaned)

                                CustomerID  \
0     60567026-f719-4cd6-849e-137e86d8938f
1     4090ba85-b111-4f75-a792-c777965f5255
2     9223891b-73ff-4d5c-b8ae-13ece82ee28b
3     9243eebc-938f-480c-8564-16d503d250de
4     6e3e8eb8-bc0f-4ffe-9f74-5d5efec9502f
...                                    ...
3153  086370e7-8884-47d7-89b0-776401a43e1c
3157  7c7df909-aa25-48c7-af9d-6ebe714b28b6
3164  79fc606a-c02c-4c39-b065-3e88a59b366c
3174  6a84f1a7-f636-4300-bd8d-c7f888460829
3177  3ea377e6-1156-457e-8b4e-71fa6663e6bf

                             TransactionID TransactionDate  Amount  \
0     5ff75116-0a50-4d04-80fb-31e5ccbb0769      2024-05-15  117.64
1     2c39b9fe-ff57-4d39-9321-9f5cdf187aa1      2023-04-26  466.14
2     f79588dd-3db9-4ffa-97f8-7de0e64259f1      2022-09-23  563.99
3     401c0fc9-60df-4455-ad78-67c132f9897d      2024-04-15  254.44
4     2034aebc-8280-4254-a667-92bcd1c2be4f      2024-06-03  590.52
...                                    ...             ...     ...
3153  652636b6-5c72-44e1-aefb-6adce412ee75      2023-12-05  974.25
3157  eb26a4f4-5af2-4e25-b1f2-fd0de5583f7b      10/08/2022   50.07
3164  7fbe5cc4-a35e-4e8e-89d7-7b439659b9f6      20/07/2022  272.68
3174  185ee140-348a-4461-bd40-07a7e8535815      2023-10-09       0
3177  c751a808-ed8d-44d0-8c52-8253ad564c9a      2023-09-22    -100

      ProductCategory  PaymentMethod
0            Clothing         PayPal
1     Health & Beauty  Bank Transfer
2            Clothing     Debit Card
3          Automotive         PayPal
4       Home & Garden  Bank Transfer
...               ...            ...
3153      Electronics     Debit Card
3157       Automotive  Bank Transfer
3164         Clothing     Debit Card
3174  Health & Beauty         PayPal
3177  Health & Beauty    Credit Card

[2476 rows x 6 columns]

In [83]:
duplicate_rows = df[df.duplicated()]

print(duplicate_rows)

                                CustomerID  \
3000  cdaabaa5-aae1-4d4d-8491-994aceea9621
3001  9d8bf85a-a329-4a0b-a46a-4cc840629255
3002  cc5da89b-c295-41c3-b27d-c759cca78ba8
3003  7982720f-fa58-47f3-b9cd-bdfd800d14e3
3004  551a4700-bea6-4596-b371-48c0ee1b5bf0
...                                    ...
3189  79a5eedf-99cd-4151-9007-8d0904daf592
3191  b69f9ff9-837b-4582-8187-1f2f28c6e2d2
3195  59f8afe5-173b-4e52-b641-f98183f1a891
3196  16d0b561-279d-4da9-9aa8-8c5906dff79a
3198  d83178cf-653d-435c-a7e8-880361dec6e7

                             TransactionID TransactionDate  Amount  \
3000  e7149aea-3116-4232-9607-ffec14018dad      2023-03-21  482.62
3001  2fbba183-f355-4cfd-9903-5bf50cdaa707      2023-11-24    49.0
3002  85cc2094-90ad-460d-bffc-9eb5ceba9712      2023-09-19  433.61
3003  893674b7-bb73-44d1-a93b-5095d5f4919d      2024-04-30   22.89
3004  c5dcb16e-b1d0-46fc-a45d-b29b4cda3958      2022-11-22  663.12
...                                    ...             ...     ...
3189  ed9e281d-c0df-44a3-b18f-6aa4f2e2063d      2023-03-07  482.63
3191  5df1d055-556f-4ffd-b50a-c1465fb4a0c1      2022-11-02  324.11
3195  3121df10-58e5-4ed4-a05c-b1f12df6bcc7      2023-01-18  892.44
3196  dff4f636-2c55-4237-8c55-efb15b05949b      2024-02-13  431.64
3198  89a1c0bc-4d49-4913-bb0f-26bd56b46a34      2022-09-26  343.46

      ProductCategory  PaymentMethod
3000    Home & Garden    Credit Card
3001    Home & Garden     Debit Card
3002      Electronics  Bank Transfer
3003  Health & Beauty    Credit Card
3004       Automotive  Bank Transfer
...               ...            ...
3189  Health & Beauty    Credit Card
3191      Electronics         PayPal
3195    Home & Garden  Bank Transfer
3196  Health & Beauty    Credit Card
3198  Health & Beauty     Debit Card

[148 rows x 6 columns]

In [85]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 148

In [93]:
df_cleaned = df.drop_duplicates()

In [95]:
print("\nDataFrame after removing duplicates:")
print(df_cleaned)

DataFrame after removing duplicates:
                                CustomerID  \
0     60567026-f719-4cd6-849e-137e86d8938f
1     4090ba85-b111-4f75-a792-c777965f5255
2     9223891b-73ff-4d5c-b8ae-13ece82ee28b
3     9243eebc-938f-480c-8564-16d503d250de
4     6e3e8eb8-bc0f-4ffe-9f74-5d5efec9502f
...                                    ...
3153  086370e7-8884-47d7-89b0-776401a43e1c
3157  7c7df909-aa25-48c7-af9d-6ebe714b28b6
3164  79fc606a-c02c-4c39-b065-3e88a59b366c
3174  6a84f1a7-f636-4300-bd8d-c7f888460829
3177  3ea377e6-1156-457e-8b4e-71fa6663e6bf

                             TransactionID TransactionDate  Amount  \
0     5ff75116-0a50-4d04-80fb-31e5ccbb0769      2024-05-15  117.64
1     2c39b9fe-ff57-4d39-9321-9f5cdf187aa1      2023-04-26  466.14
2     f79588dd-3db9-4ffa-97f8-7de0e64259f1      2022-09-23  563.99
3     401c0fc9-60df-4455-ad78-67c132f9897d      2024-04-15  254.44
4     2034aebc-8280-4254-a667-92bcd1c2be4f      2024-06-03  590.52
...                                    ...             ...     ...
3153  652636b6-5c72-44e1-aefb-6adce412ee75      2023-12-05  974.25
3157  eb26a4f4-5af2-4e25-b1f2-fd0de5583f7b      10/08/2022   50.07
3164  7fbe5cc4-a35e-4e8e-89d7-7b439659b9f6      20/07/2022  272.68
3174  185ee140-348a-4461-bd40-07a7e8535815      2023-10-09       0
3177  c751a808-ed8d-44d0-8c52-8253ad564c9a      2023-09-22    -100

      ProductCategory  PaymentMethod
0            Clothing         PayPal
1     Health & Beauty  Bank Transfer
2            Clothing     Debit Card
3          Automotive         PayPal
4       Home & Garden  Bank Transfer
...               ...            ...
3153      Electronics     Debit Card
3157       Automotive  Bank Transfer
3164         Clothing     Debit Card
3174  Health & Beauty         PayPal
3177  Health & Beauty    Credit Card

[2476 rows x 6 columns]

In [97]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 0