In [1]:
import pandas as pd

In [3]:
df = pd.read_csv ('Downloads/social_media_interactions_contaminated.csv')

In [5]:
df

,CustomerID,InteractionID,InteractionDate,Platform,InteractionType,Sentiment
0,2dcb9523-356b-40b2-a67b-1f27797de261,e5d15761-d0a7-4329-89e3-79a892c56097,2023-07-11,NaN,Comment,NaN
1,e12c37b3-7d4d-472f-9fd8-0df2cb3001aa,02f9f376-70ae-4fcd-9070-1db977939948,2023-07-06,Twitter,Share,NaN
2,08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2,a83fa04c-f109-4f24-8ce1-2078154f6a1c,2024-05-24,Instagram,Comment,Neutral
3,efdfdfc9-5dbb-4478-911a-101a390a0285,28a69c4b-a2e4-4c74-a130-1132d7733fdf,2023-11-01,Instagram,Like,Neutral
4,ca1e90f6-0e5f-492e-ab92-252ff540da18,d9d1c6f8-5e15-4738-b52b-13c2982420cc,2023-07-08,Instagram,Like,NaN
...,...,...,...,...,...,...
3195,8d8fe8bd-2009-4a15-be37-83dba3cef447,2212803c-4a00-4263-bae5-aaaff6d6bdb1,2023-08-30,Instagram,Like,Neutral
3196,1756838b-8368-4852-b4a5-32a23643a3dd,2f50ca57-f930-4d3e-ae08-9f3b26c7f148,2024-06-16,Facebook,Like,Neutral
3197,eb8bb3ce-e182-4a9c-8084-c55c738815e1,ee2c3d14-248c-48b0-aa80-4ea97e449bf8,2023-12-22,Instagram,Comment,Negative
3198,a5d08a95-9dba-4e3d-b997-1cfdde6a89ef,e77a8713-fdc7-4f71-85f8-9cd88cca0c42,2023-11-01,Twitter,Share,Positive
3199,f8146100-569d-4cda-9d64-88c6ad98de5f,454a0b90-d1bb-437d-ad50-ef01821fbf0a,2024-06-20,Instagram,Like,Neutral

In [7]:
total_missing = df.isnull().sum().sum()
print(f'Total missing values in the dataset: {total_missing}')

Total missing values in the dataset: 640

In [9]:
missing_values = df.isnull().sum()
print(missing_values)

CustomerID           0
InteractionID        0
InteractionDate      0
Platform           311
InteractionType      0
Sentiment          329
dtype: int64

In [11]:
df = df.dropna(subset=['Platform'])

In [13]:
missing_values = df.isnull().sum()
print(missing_values)

CustomerID           0
InteractionID        0
InteractionDate      0
Platform             0
InteractionType      0
Sentiment          301
dtype: int64

In [15]:
df = df.dropna(subset=['Sentiment'])

In [17]:
missing_values = df.isnull().sum()
print(missing_values)

CustomerID         0
InteractionID      0
InteractionDate    0
Platform           0
InteractionType    0
Sentiment          0
dtype: int64

In [19]:
df_cleaned = df.drop_duplicates()

In [21]:
print(f'Total number of duplicate rows: {df.duplicated().sum()}')

Total number of duplicate rows: 141

In [23]:
df_cleaned = df.drop_duplicates()

In [27]:
df_no_duplicates = df.drop_duplicates()

In [29]:
print(f'Total number of duplicate rows: {df.duplicated().sum()}')

Total number of duplicate rows: 141

In [31]:
print("\nDataFrame after removing duplicates:")
print(df_cleaned)

DataFrame after removing duplicates:
                                CustomerID  \
2     08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2
3     efdfdfc9-5dbb-4478-911a-101a390a0285
5     3e44871b-f56c-4576-b1ca-d1dc999e2166
6     aa5eea4b-c948-41f4-9285-229a470002aa
10    481bcc62-9dcb-4766-bbdd-79f5554d73f8
...                                    ...
3146  ce2ece8f-91c3-420a-9d80-8b1f5051dc77
3166  e06f0e16-8e48-483b-b103-9f105b139ca8
3173  b7b84b81-c61b-4f23-b3db-b18010484122
3175  5659a8c6-0397-4396-b561-52ec1c8a760b
3194  5711d1af-71f2-4b99-a965-3ffdc39d32c8

                             InteractionID InteractionDate   Platform  \
2     a83fa04c-f109-4f24-8ce1-2078154f6a1c      2024-05-24  Instagram
3     28a69c4b-a2e4-4c74-a130-1132d7733fdf      2023-11-01  Instagram
5     0c409883-8396-48e4-83fb-887329848696      2023-12-18  Instagram
6     4034dadf-6541-40d6-a7f0-16b20a009c04      2023-11-15  Instagram
10    785b7854-4548-4251-83f2-a25da78bfe40      2024-05-28    Twitter
...                                    ...             ...        ...
3146  3a30bab5-53a0-4169-8244-419e2459dcd9      17/06/2024  Instagram
3166  071a2657-12a8-4216-9c64-baf9ab5c9420      2024-04-30    Twitter
3173  93d2d3e1-841e-4ece-91c1-3b1998a4cab8      2023-12-16    Twitter
3175  d7f6806b-f348-431e-9198-07f0685d8d8e      2024-01-28   Facebook
3194  1c2f510a-5ab5-4575-8f62-8ba8decf1302      2024-06-29    Twitter

     InteractionType Sentiment
2            Comment   Neutral
3               Like   Neutral
5            Comment  Positive
6              Share  Positive
10              Like  Positive
...              ...       ...
3146           Share  Positive
3166           Share   Neutral
3173            Like   Neutral
3175           Share  Negative
3194           Share  Negative

[2447 rows x 6 columns]

In [33]:
print(f'Total number of duplicate rows: {df.duplicated().sum()}')

Total number of duplicate rows: 141

In [35]:
df_cleaned = df.drop_duplicates()

In [37]:
print("\nDataFrame after removing duplicates:")
print(df_cleaned)

DataFrame after removing duplicates:
                                CustomerID  \
2     08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2
3     efdfdfc9-5dbb-4478-911a-101a390a0285
5     3e44871b-f56c-4576-b1ca-d1dc999e2166
6     aa5eea4b-c948-41f4-9285-229a470002aa
10    481bcc62-9dcb-4766-bbdd-79f5554d73f8
...                                    ...
3146  ce2ece8f-91c3-420a-9d80-8b1f5051dc77
3166  e06f0e16-8e48-483b-b103-9f105b139ca8
3173  b7b84b81-c61b-4f23-b3db-b18010484122
3175  5659a8c6-0397-4396-b561-52ec1c8a760b
3194  5711d1af-71f2-4b99-a965-3ffdc39d32c8

                             InteractionID InteractionDate   Platform  \
2     a83fa04c-f109-4f24-8ce1-2078154f6a1c      2024-05-24  Instagram
3     28a69c4b-a2e4-4c74-a130-1132d7733fdf      2023-11-01  Instagram
5     0c409883-8396-48e4-83fb-887329848696      2023-12-18  Instagram
6     4034dadf-6541-40d6-a7f0-16b20a009c04      2023-11-15  Instagram
10    785b7854-4548-4251-83f2-a25da78bfe40      2024-05-28    Twitter
...                                    ...             ...        ...
3146  3a30bab5-53a0-4169-8244-419e2459dcd9      17/06/2024  Instagram
3166  071a2657-12a8-4216-9c64-baf9ab5c9420      2024-04-30    Twitter
3173  93d2d3e1-841e-4ece-91c1-3b1998a4cab8      2023-12-16    Twitter
3175  d7f6806b-f348-431e-9198-07f0685d8d8e      2024-01-28   Facebook
3194  1c2f510a-5ab5-4575-8f62-8ba8decf1302      2024-06-29    Twitter

     InteractionType Sentiment
2            Comment   Neutral
3               Like   Neutral
5            Comment  Positive
6              Share  Positive
10              Like  Positive
...              ...       ...
3146           Share  Positive
3166           Share   Neutral
3173            Like   Neutral
3175           Share  Negative
3194           Share  Negative

[2447 rows x 6 columns]

In [39]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 141

In [41]:
df_cleaned = df.drop_duplicates(keep='last')

In [43]:
print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 141

In [45]:
duplicate_count = df.duplicated().sum()

In [47]:
df_cleaned = df.drop_duplicates()

In [49]:
print("\nDataFrame after removing duplicates:")
print(df_cleaned)

DataFrame after removing duplicates:
                                CustomerID  \
2     08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2
3     efdfdfc9-5dbb-4478-911a-101a390a0285
5     3e44871b-f56c-4576-b1ca-d1dc999e2166
6     aa5eea4b-c948-41f4-9285-229a470002aa
10    481bcc62-9dcb-4766-bbdd-79f5554d73f8
...                                    ...
3146  ce2ece8f-91c3-420a-9d80-8b1f5051dc77
3166  e06f0e16-8e48-483b-b103-9f105b139ca8
3173  b7b84b81-c61b-4f23-b3db-b18010484122
3175  5659a8c6-0397-4396-b561-52ec1c8a760b
3194  5711d1af-71f2-4b99-a965-3ffdc39d32c8

                             InteractionID InteractionDate   Platform  \
2     a83fa04c-f109-4f24-8ce1-2078154f6a1c      2024-05-24  Instagram
3     28a69c4b-a2e4-4c74-a130-1132d7733fdf      2023-11-01  Instagram
5     0c409883-8396-48e4-83fb-887329848696      2023-12-18  Instagram
6     4034dadf-6541-40d6-a7f0-16b20a009c04      2023-11-15  Instagram
10    785b7854-4548-4251-83f2-a25da78bfe40      2024-05-28    Twitter
...                                    ...             ...        ...
3146  3a30bab5-53a0-4169-8244-419e2459dcd9      17/06/2024  Instagram
3166  071a2657-12a8-4216-9c64-baf9ab5c9420      2024-04-30    Twitter
3173  93d2d3e1-841e-4ece-91c1-3b1998a4cab8      2023-12-16    Twitter
3175  d7f6806b-f348-431e-9198-07f0685d8d8e      2024-01-28   Facebook
3194  1c2f510a-5ab5-4575-8f62-8ba8decf1302      2024-06-29    Twitter

     InteractionType Sentiment
2            Comment   Neutral
3               Like   Neutral
5            Comment  Positive
6              Share  Positive
10              Like  Positive
...              ...       ...
3146           Share  Positive
3166           Share   Neutral
3173            Like   Neutral
3175           Share  Negative
3194           Share  Negative

[2447 rows x 6 columns]

In [51]:
duplicate_count = df.duplicated().sum()

print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 141

In [53]:
print(df.duplicated())

2       False
3       False
5       False
6       False
10      False
        ...
3195     True
3196     True
3197     True
3198     True
3199     True
Length: 2588, dtype: bool

In [55]:
df_cleaned = df.drop_duplicates()
print(df_cleaned)

                                CustomerID  \
2     08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2
3     efdfdfc9-5dbb-4478-911a-101a390a0285
5     3e44871b-f56c-4576-b1ca-d1dc999e2166
6     aa5eea4b-c948-41f4-9285-229a470002aa
10    481bcc62-9dcb-4766-bbdd-79f5554d73f8
...                                    ...
3146  ce2ece8f-91c3-420a-9d80-8b1f5051dc77
3166  e06f0e16-8e48-483b-b103-9f105b139ca8
3173  b7b84b81-c61b-4f23-b3db-b18010484122
3175  5659a8c6-0397-4396-b561-52ec1c8a760b
3194  5711d1af-71f2-4b99-a965-3ffdc39d32c8

                             InteractionID InteractionDate   Platform  \
2     a83fa04c-f109-4f24-8ce1-2078154f6a1c      2024-05-24  Instagram
3     28a69c4b-a2e4-4c74-a130-1132d7733fdf      2023-11-01  Instagram
5     0c409883-8396-48e4-83fb-887329848696      2023-12-18  Instagram
6     4034dadf-6541-40d6-a7f0-16b20a009c04      2023-11-15  Instagram
10    785b7854-4548-4251-83f2-a25da78bfe40      2024-05-28    Twitter
...                                    ...             ...        ...
3146  3a30bab5-53a0-4169-8244-419e2459dcd9      17/06/2024  Instagram
3166  071a2657-12a8-4216-9c64-baf9ab5c9420      2024-04-30    Twitter
3173  93d2d3e1-841e-4ece-91c1-3b1998a4cab8      2023-12-16    Twitter
3175  d7f6806b-f348-431e-9198-07f0685d8d8e      2024-01-28   Facebook
3194  1c2f510a-5ab5-4575-8f62-8ba8decf1302      2024-06-29    Twitter

     InteractionType Sentiment
2            Comment   Neutral
3               Like   Neutral
5            Comment  Positive
6              Share  Positive
10              Like  Positive
...              ...       ...
3146           Share  Positive
3166           Share   Neutral
3173            Like   Neutral
3175           Share  Negative
3194           Share  Negative

[2447 rows x 6 columns]

In [57]:
df.drop_duplicates(inplace=True)
print(df)

                                CustomerID  \
2     08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2
3     efdfdfc9-5dbb-4478-911a-101a390a0285
5     3e44871b-f56c-4576-b1ca-d1dc999e2166
6     aa5eea4b-c948-41f4-9285-229a470002aa
10    481bcc62-9dcb-4766-bbdd-79f5554d73f8
...                                    ...
3146  ce2ece8f-91c3-420a-9d80-8b1f5051dc77
3166  e06f0e16-8e48-483b-b103-9f105b139ca8
3173  b7b84b81-c61b-4f23-b3db-b18010484122
3175  5659a8c6-0397-4396-b561-52ec1c8a760b
3194  5711d1af-71f2-4b99-a965-3ffdc39d32c8

                             InteractionID InteractionDate   Platform  \
2     a83fa04c-f109-4f24-8ce1-2078154f6a1c      2024-05-24  Instagram
3     28a69c4b-a2e4-4c74-a130-1132d7733fdf      2023-11-01  Instagram
5     0c409883-8396-48e4-83fb-887329848696      2023-12-18  Instagram
6     4034dadf-6541-40d6-a7f0-16b20a009c04      2023-11-15  Instagram
10    785b7854-4548-4251-83f2-a25da78bfe40      2024-05-28    Twitter
...                                    ...             ...        ...
3146  3a30bab5-53a0-4169-8244-419e2459dcd9      17/06/2024  Instagram
3166  071a2657-12a8-4216-9c64-baf9ab5c9420      2024-04-30    Twitter
3173  93d2d3e1-841e-4ece-91c1-3b1998a4cab8      2023-12-16    Twitter
3175  d7f6806b-f348-431e-9198-07f0685d8d8e      2024-01-28   Facebook
3194  1c2f510a-5ab5-4575-8f62-8ba8decf1302      2024-06-29    Twitter

     InteractionType Sentiment
2            Comment   Neutral
3               Like   Neutral
5            Comment  Positive
6              Share  Positive
10              Like  Positive
...              ...       ...
3146           Share  Positive
3166           Share   Neutral
3173            Like   Neutral
3175           Share  Negative
3194           Share  Negative

[2447 rows x 6 columns]

In [59]:
print(df[df.duplicated(keep=False)])

Empty DataFrame
Columns: [CustomerID, InteractionID, InteractionDate, Platform, InteractionType, Sentiment]
Index: []

In [61]:
df_cleaned = df_cleaned.reset_index(drop=True)
print(df_cleaned)

                                CustomerID  \
0     08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2
1     efdfdfc9-5dbb-4478-911a-101a390a0285
2     3e44871b-f56c-4576-b1ca-d1dc999e2166
3     aa5eea4b-c948-41f4-9285-229a470002aa
4     481bcc62-9dcb-4766-bbdd-79f5554d73f8
...                                    ...
2442  ce2ece8f-91c3-420a-9d80-8b1f5051dc77
2443  e06f0e16-8e48-483b-b103-9f105b139ca8
2444  b7b84b81-c61b-4f23-b3db-b18010484122
2445  5659a8c6-0397-4396-b561-52ec1c8a760b
2446  5711d1af-71f2-4b99-a965-3ffdc39d32c8

                             InteractionID InteractionDate   Platform  \
0     a83fa04c-f109-4f24-8ce1-2078154f6a1c      2024-05-24  Instagram
1     28a69c4b-a2e4-4c74-a130-1132d7733fdf      2023-11-01  Instagram
2     0c409883-8396-48e4-83fb-887329848696      2023-12-18  Instagram
3     4034dadf-6541-40d6-a7f0-16b20a009c04      2023-11-15  Instagram
4     785b7854-4548-4251-83f2-a25da78bfe40      2024-05-28    Twitter
...                                    ...             ...        ...
2442  3a30bab5-53a0-4169-8244-419e2459dcd9      17/06/2024  Instagram
2443  071a2657-12a8-4216-9c64-baf9ab5c9420      2024-04-30    Twitter
2444  93d2d3e1-841e-4ece-91c1-3b1998a4cab8      2023-12-16    Twitter
2445  d7f6806b-f348-431e-9198-07f0685d8d8e      2024-01-28   Facebook
2446  1c2f510a-5ab5-4575-8f62-8ba8decf1302      2024-06-29    Twitter

     InteractionType Sentiment
0            Comment   Neutral
1               Like   Neutral
2            Comment  Positive
3              Share  Positive
4               Like  Positive
...              ...       ...
2442           Share  Positive
2443           Share   Neutral
2444            Like   Neutral
2445           Share  Negative
2446           Share  Negative

[2447 rows x 6 columns]

In [63]:
duplicates = df.duplicated(keep=False)
print("\nDuplicates:")

Duplicates:

In [65]:
print(f'Total number of duplicate rows: {duplicate_count}')

Total number of duplicate rows: 141

In [67]:
duplicate_rows = df[df.duplicated(keep=False)]
print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
Empty DataFrame
Columns: [CustomerID, InteractionID, InteractionDate, Platform, InteractionType, Sentiment]
Index: []

In [69]:
df.drop_duplicates(inplace=True)

In [71]:
duplicate_count_after = df_cleaned.duplicated().sum()
print(f'Total number of duplicate rows after cleaning: {duplicate_count_after}')

Total number of duplicate rows after cleaning: 0

In [73]:
df_cleaned.reset_index(drop=True, inplace=True)

In [75]:
print("Cleaned DataFrame:")
print(df_cleaned)

Cleaned DataFrame:
                                CustomerID  \
0     08a911a3-65e6-4f5d-a6a1-ae7ddcbe28a2
1     efdfdfc9-5dbb-4478-911a-101a390a0285
2     3e44871b-f56c-4576-b1ca-d1dc999e2166
3     aa5eea4b-c948-41f4-9285-229a470002aa
4     481bcc62-9dcb-4766-bbdd-79f5554d73f8
...                                    ...
2442  ce2ece8f-91c3-420a-9d80-8b1f5051dc77
2443  e06f0e16-8e48-483b-b103-9f105b139ca8
2444  b7b84b81-c61b-4f23-b3db-b18010484122
2445  5659a8c6-0397-4396-b561-52ec1c8a760b
2446  5711d1af-71f2-4b99-a965-3ffdc39d32c8

                             InteractionID InteractionDate   Platform  \
0     a83fa04c-f109-4f24-8ce1-2078154f6a1c      2024-05-24  Instagram
1     28a69c4b-a2e4-4c74-a130-1132d7733fdf      2023-11-01  Instagram
2     0c409883-8396-48e4-83fb-887329848696      2023-12-18  Instagram
3     4034dadf-6541-40d6-a7f0-16b20a009c04      2023-11-15  Instagram
4     785b7854-4548-4251-83f2-a25da78bfe40      2024-05-28    Twitter
...                                    ...             ...        ...
2442  3a30bab5-53a0-4169-8244-419e2459dcd9      17/06/2024  Instagram
2443  071a2657-12a8-4216-9c64-baf9ab5c9420      2024-04-30    Twitter
2444  93d2d3e1-841e-4ece-91c1-3b1998a4cab8      2023-12-16    Twitter
2445  d7f6806b-f348-431e-9198-07f0685d8d8e      2024-01-28   Facebook
2446  1c2f510a-5ab5-4575-8f62-8ba8decf1302      2024-06-29    Twitter

     InteractionType Sentiment
0            Comment   Neutral
1               Like   Neutral
2            Comment  Positive
3              Share  Positive
4               Like  Positive
...              ...       ...
2442           Share  Positive
2443           Share   Neutral
2444            Like   Neutral
2445           Share  Negative
2446           Share  Negative

[2447 rows x 6 columns]

In [83]:
df_cleaned.to_csv('cleaned_Social_Interaction_data.csv', index=False)